/* Misc */

:root {
    --menu-width: 200px;
    --menu-user-height: 55px;
    --menu-icon-color: #DCDCDC;
    --menu-icon-color-hover: #7a7a7a;
    --menu-background-color: #202020;
}

html {
    color: whitesmoke;
    background-color: #141414;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.hide {
    display: none;
}

a {
    color: darkgrey;
}

ion-icon {
    pointer-events: none !important;
    stroke: white !important;
    color: white !important;
    fill: white !important;
    transition: 0.2s linear;
}

.box {
    background-color: #181818;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #AAAAAA;
}

::-webkit-scrollbar-thumb {
    background: #444444;
}

::-webkit-scrollbar-thumb:hover {
    background: #505050;
}

/* Inputs */

::-webkit-slider-runnable-track {
    width: 300px;
    height: 2px;
    border: none;
    border-radius: 3px;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 500%;
    background: #141414;
    border: 2px solid #515151;
    margin-top: -5px;
    cursor: pointer;
}

input:focus {
    outline: none;
}

input[type=range] {
    -webkit-appearance: none;
}

input {
    background-color: white;
    border-radius: 6px;
    border: 1px solid #DCDCDC;
    cursor: pointer;
    outline: none;
}

input[type=search] {
    height: 3em;
    width: 180px;
}

select {
    background-color: white;
    border-radius: 6px;
    border: 1px solid #DCDCDC;
    cursor: pointer;
    outline: none;
}

input[type=number] {
    background-color: white;
    border-radius: 6px;
    border: 1px solid #DCDCDC;
    cursor: pointer;
    font-size: 15px;
    width: 65px;
    cursor: auto;
    outline: none;
}

.file-button {
    background-color: white;
    border-radius: 6px;
    border: 1px solid #DCDCDC;
    cursor: pointer;
    color: black;
    font-size: 15px;
    padding: 5px;
}

.file-button:focus {
    outline: none;
}

.dynamic-setting {
    position: relative;
}

.dynamic-option {
    background-color: #222222;
    padding-left: 15px;
    position: relative;
    margin-top: 15px;
}

.dynamic-add {
    position: absolute;
    top: -35px;
    right: 4px;
    z-index: 99;
}

.dynamic-remove {
    position: absolute;
    top: 2px;
    right: 4px;
}

/* Splash page */

#splash {
    position: relative;
    width: 216px;
    height: 40px;
    top: 140px;
    margin: auto;
}

#splash span {
    bottom: 60px;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
}

#splash a {
    color: lightgrey;
}

.app-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0px;
    left: 0px;
}

.caffeinated-logo {
    position: absolute;
    width: auto;
    height: 40px;
    top: 0px;
    right: 0px;
}

#content {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: table-row;
    opacity: 0;
    margin-top: 30px;
}

/* Title bar */

.title-bar {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 30px;
    margin-top: 0px;
    -webkit-app-region: drag;
    background-color: #272727;
    padding-top: 5px;
}

.title-bar ion-icon {
    color: white !important;
}

.title-bar-title {
    position: absolute;
    left: 30px;
    top: 2px;
    text-align: left;
    width: 100%;
    color: rgb(133, 133, 133);
    user-select: none;
}

.title-bar-title img {
    width: 20px;
    position: absolute;
    top: 2px;
    left: -25px;
    -webkit-app-region: no-drag;
}

.currentpage {
    position: absolute;
    top: 2px;
    text-align: center;
    width: 100%;
    color: rgb(189, 189, 189);
    user-select: none;
}

.close {
    position: absolute;
    right: 10px;
    -webkit-app-region: no-drag;
}

.close:hover ion-icon { 
    color: var(--menu-icon-color-hover) !important;
}

.minmax {
    position: absolute;
    right: 40px;
    -webkit-app-region: no-drag;
}

.minmax:hover ion-icon { 
    color: var(--menu-icon-color-hover) !important;
}

.minimize {
    position: absolute;
    right: 70px;
    -webkit-app-region: no-drag;
}

.minimize:hover ion-icon { 
    color: var(--menu-icon-color-hover) !important;
}

/* Menu */

.menu {
    /* display: table-cell; */
    position: fixed;
    top: 30px;
    left: 0;
    width: var(--menu-width);
    height: 100%;
    background-color: var(--menu-background-color);
}

.menu-list {
    position: absolute;
    top: 0;
    width: 100%;
}

.menu-button {
    font-size: 18px;

}

.menu-button-title {
    display: inline;
    position: relative;
    margin-top: -50px;

}

#menu-user {
    position: fixed;
    background-color: #1b1b1b;
    height: var(--menu-user-height);
    width: var(--menu-width);
    bottom: 0;
    border-top: 1px solid #646464;
}

.user-icon {
    border-radius: 50%;
    object-fit: cover;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 7px;
    left: 5px;
}

.user-username {
    position: absolute;
    max-width: 105px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    left: 55px;
    top: 10px;
    box-sizing: border-box;
    display: inline-block;
    background-color: #DCDCDC;
    color: #141414;
    border-radius: 3rem;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: .01rem .45rem .2rem;
    line-height: inherit;
}

.user-followers {
    font-size: 11px;
    color: white;
    position: absolute;
    left: 56px;
    top: 33px;
}

.user-settings {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px !important;
}

.user-settings ion-icon {
    color: var(--menu-icon-color) !important;
}

.user-settings:hover ion-icon {
    color: var(--menu-icon-color-hover) !important;
}

.user-platform {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: 5px;
    bottom: 5px;
}

.menu-label {
    text-align: center;
}

/* Settings */

#settings {
    position: relative;
    margin-bottom: 15px;
}

.settings-label {
    text-align: center;
    display: block;
}

.settings-page {
    padding-right: 15px;
}

.settings-page .box {
    padding: 15px;
    margin-bottom: 0px;
}

.settings-version {
    position: absolute;
    bottom: 0;
}

/* Pages */

.pages {
    padding: 20px 0 0 220px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.page a:hover {
    color: lightgrey;
}

.page {
    overflow-x: hidden;
}

/* Overlays */

#overlays button {
    height: 35px;
    margin-left: 10px;
    line-height: 20px;
    width: 75px;
}

#overlays .overlay-id {
    font-size: 20px;
    line-height: 35px;
    width: 175px;
    display: inline-block;
}

/* Side menu */

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li a {
	display: block;
	background-color: var(--menu-background-color);
	padding: 10px 15px;
    color: #dddddd !important;
	text-decoration: none;
    transition: 0.2s linear;
    border-bottom: 1px solid #292929;
}

nav ul li a:hover {
	background: #dbdbdb;
	color: #dddddd !important;
}

nav ul li.active a {
	background: #141414;
	color: #dddddd !important;
}

nav ul li.active a:hover {
	background: #141414;
	color: #4b4b4b !important;
}