:root {
    --casterlabs: #e94b4b;
    --menu-width: 200px;
    --user-bar-height: 55px;
    --title-bar-height: 30px;

    --theme: #e94b4b;
    --menu-icon-color: #DCDCDC;
    --menu-icon-color-hover: #7a7a7a;
    --menu-background-color: #202020;
    --menu-border-color: #383838;
    --background-color: #141414;
    --box-background-color: #181818;
    --dynamic-option-background-color: #222222;
}

html {
    color: whitesmoke;
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

pre {
    background-color: transparent;
}

.hide {
    display: none !important;
}

a {
    color: var(--theme);
}

ion-icon {
    pointer-events: none !important;
    stroke: var(--menu-icon-color) !important;
    color: var(--menu-icon-color) !important;
    fill: var(--menu-icon-color) !important;
    transition: 0.2s linear;
}

.box {
    background-color: var(--box-background-color);
}

.center-text {
    text-align: center;
}

/* Banners */

#banners {
    flex: 0 1 auto;
    z-index: 80;
}

.banner {
    width: 100vw;
    height: 25px;
    text-align: center;
    position: relative;
}

.banner-close {
    position: absolute;
    right: 5px;
    top: 3px;
}

/* Logins */

#login {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    width: 100vw;
    background-color: var(--background-color);
    padding-top: var(--title-bar-height);
}

.login-element {
    width: 40vw;
}

#login-buttons .button {
    width: 200px;
}

.service-disclaimer {
    position: absolute;
    color: #777777;
    left: 50vw;
    bottom: 50px;
    width: 370px;
    transform: translateX(-50%);
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #444444;
}

::-webkit-scrollbar-thumb {
    background: #AAAAAA;
}

::-webkit-scrollbar-thumb:hover {
    background: #505050;
}

::-webkit-slider-runnable-track {
    width: 300px;
    height: 2px;
    border: none;
    border-radius: 3px;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 500%;
    background: var(--background-color);
    border: 2px solid #515151;
    margin-top: -5px;
    cursor: pointer;
}

/* Inputs */

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input:focus,
input:active,
input:hover,
select:focus,
select:active,
select:hover,
textarea:focus,
textarea:active,
textarea:hover,
.file-button:focus,
.file-button:active,
.file-button:hover {
    outline: none !important;
    border: 1px solid #DCDCDC !important;
}

input::-webkit-input-placeholder {
    color: #A5A5A5 !important;
}

input[type=range] {
    -webkit-appearance: none;
}

input,
select,
textarea {
    background-color: var(--menu-background-color) !important;
    color: var(--menu-icon-color) !important;
    border-radius: 6px !important;
    border: 1px solid #4a4a4a;
    cursor: auto;
    outline: none !important;
    height: 2.5em;
}

input[type=checkbox] {
    margin-left: 8px;
    transform: translateY(1px);
    height: 1em !important;
}

select {
    cursor: pointer;
}

input[type=search] {
    height: 3em !important;
    width: 180px;
}

input[type=range] {
    height: 4px !important;
}

input[type=color] {
    cursor: pointer;
    width: 53px;
}

input[type=number] {
    background-color: white;
    cursor: auto;
    font-size: 15px;
    width: 65px;
    outline: none !important;
}

.file-button {
    background-color: var(--menu-background-color) !important;
    color: var(--menu-icon-color) !important;
    border-radius: 6px;
    border: 1px solid #4a4a4a;
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
}

.file-button:focus {
    outline: none;
}

.dynamic-setting {
    position: relative;
}

.dynamic-option {
    background-color: var(--dynamic-option-background-color);
    padding-left: 15px;
    position: relative;
    margin-top: 15px;
}

/* Was easier than fixing the JS */
.dynamic-option>span:last-child>br:last-child {
    display: none;
}

.dynamic-add {
    position: absolute;
    top: -35px;
    right: 4px;
    z-index: 99;
}

.dynamic-remove {
    position: absolute;
    top: 2px;
    right: 4px;
}

/* Splash page */

#splash {
    position: relative;
    width: 216px;
    height: 40px;
    top: 140px;
    margin: auto;
}

#splash span {
    bottom: 60px;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
}

#splash a {
    color: rgb(160, 160, 160);
}

.app-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0px;
    left: 0px;
}

.caffeinated-logo {
    position: absolute;
    width: auto;
    height: 40px;
    top: 0px;
    right: 0px;
}

#content {
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    opacity: 0;
    top: var(--title-bar-height);
    left: 0;
    display: flex;
    flex-flow: column;
}

.main-content {
    flex: 1 1 auto;
    height: 100%;
}

/* Title bar */

.title-bar {
    position: absolute;
    top: 0px;
    width: 100%;
    height: var(--title-bar-height);
    margin-top: 0px;
    -webkit-app-region: drag;
    background-color: #272727;
    padding-top: 5px;
    z-index: 100;
}

.title-bar ion-icon {
    color: white !important;
}

.title-bar-title {
    position: absolute;
    left: 30px;
    top: 2px;
    text-align: left;
    width: 100%;
    color: rgb(133, 133, 133);
    user-select: none;
}

.title-bar-title img {
    width: 20px;
    position: absolute;
    top: 2px;
    left: -25px;
    -webkit-app-region: no-drag;
}

.currentpage {
    position: absolute;
    top: 2px;
    text-align: center;
    width: 100%;
    color: rgb(189, 189, 189);
    user-select: none;
}

.close {
    position: absolute;
    right: 10px;
    -webkit-app-region: no-drag;
}

.close:hover ion-icon {
    color: var(--menu-icon-color-hover) !important;
}

.minmax {
    position: absolute;
    right: 34px;
    -webkit-app-region: no-drag;
    font-size: .9em;
    transform: translateY(.75px);
}

.minmax:hover ion-icon {
    color: var(--menu-icon-color-hover) !important;
}

.minimize {
    position: absolute;
    right: 58px;
    -webkit-app-region: no-drag;
}

.minimize:hover ion-icon {
    color: var(--menu-icon-color-hover) !important;
}

/* Menu */

.menu {
    /* display: table-cell; */
    position: fixed;
    left: 0;
    width: var(--menu-width);
    height: calc((100% - var(--title-bar-height)) - var(--user-bar-height));
    background-color: var(--menu-background-color);
    overflow-y: auto !important;
}

.menu-list {
    position: absolute;
    top: 0;
    width: 100%;
    overflow-y: auto !important;
}

.menu-button {
    font-size: 18px;
}

.menu-button-title {
    display: inline;
    position: relative;
    margin-top: -50px;
}

#user-bar {
    position: fixed;
    background-color: #1b1b1b;
    height: var(--user-bar-height);
    width: var(--menu-width);
    bottom: 0;
    border-top: 1px solid #646464;
}

.user-icon {
    border-radius: 50%;
    object-fit: cover;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 7px;
    left: 5px;
}

.user-username {
    position: absolute;
    max-width: calc(var(--menu-width) - 65px);
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    left: 55px;
    top: 10px;
    box-sizing: border-box;
    display: inline-block;
    background-color: #DCDCDC;
    color: var(--background-color);
    border-radius: 3rem;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: .01rem .45rem .2rem;
    line-height: inherit;
}

.user-username ion-icon {
    position: absolute;
    color: var(--background-color) !important;
    font-size: 18px !important;
    top: 1px;
}

.user-followers {
    font-size: 11px;
    color: white;
    position: absolute;
    left: 56px;
    top: 33px;
}

.user-settings {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px !important;
}

.user-settings ion-icon {
    color: var(--menu-icon-color) !important;
}

.user-settings:hover ion-icon {
    color: var(--menu-icon-color-hover) !important;
}

.user-platform {
    position: absolute;
    width: auto;
    height: 15px;
    left: 5px;
    bottom: 5px;
}

.menu-label {
    text-align: center;
}

/* Settings */

#settings {
    position: relative;
    margin-bottom: 15px;
}

.settings-label {
    text-align: center;
    display: block;
}

.settings-page {
    padding-right: 15px;
    padding-left: 15px;
}

.settings-page .box {
    padding: 15px;
    margin-bottom: 0px;
}

.settings-version {
    position: absolute;
    bottom: 0;
}

/* Pages */

.pages {
    padding-left: var(--menu-width);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.page a:hover {
    color: lightgrey;
}

.page {
    overflow-x: hidden;
    margin-bottom: 0 !important;
    height: 100%;
}

.widget-settings-page {
    padding-top: 20px;
}

.moduleframe {
    display: block;
    height: 100%;
    width: 100%;
}

.settingsframe {
    display: block;
    width: 100%;
}

/* Overlays */

#overlays button {
    height: 35px;
    margin-left: 10px;
    line-height: 20px;
    width: 75px;
}

#overlays .overlay-id {
    font-size: 20px;
    line-height: 35px;
    width: 175px;
    display: inline-block;
}

/* Side menu */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li .menu-button {
    border-radius: 0 !important;
    background-color: var(--menu-background-color);
    padding: 10px 15px;
    border-bottom: 1px solid #383838;
    transition: 0.2s linear;
}

nav ul li .menu-button:hover {
    background: #6d6d6d;
    color: #dddddd !important;
}

nav ul li.active .menu-button {
    background: var(--background-color);
    color: #dddddd !important;
}

nav ul li.active .menu-button:hover {
    background: var(--background-color);
    color: #4b4b4b !important;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropdown-container {
    display: none;
    background-color: #585858;
    padding-left: 8px;
}

nav ul li .dropdown-title a {
    border-radius: 0 !important;
    border-bottom: 0 !important;
    border-top: 1px solid var(--menu-border-color);
    background: #272727;
    color: var(--menu-icon-color) !important;
}

nav ul li .dropdown-title a:hover {
    background: #383838;
    color: var(--menu-icon-color) !important;
}

/* nav ul li .dropdown-container .add-widget a {
    padding-top: 10px;
	background: #e94b4b !important;
	color: #dddddd !important;
}

nav ul li .dropdown-container .add-widget a:hover {
	background: #4b4b4b !important;
	color: #dddddd !important;
} */

nav ul li .dropdown-item {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li .dropdown-icon {
    position: absolute !important;
    top: -2px !important;
    right: 0 !important;
    display: inline-block !important;
    font-size: 18px;
    padding-right: 5px;
}

nav ul li .dropdown-icon a:hover {
    background-color: inherit;
}

nav ul li .dropdown-icon a {
    display: inline-block !important;
    position: relative;
}

nav ul li .dropdown-icon a ion-icon {
    margin: 0 -10px 0 -10px;
}

nav ul li .dropdown-icon a:hover ion-icon {
    color: var(--menu-icon-color-hover) !important;
}

.sub-menu-arrow {
    position: absolute;
    left: calc(var(--menu-width) - 45px);
    top: 5px;
}